@page "/java"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Java</PageTitle>

<AuthorizeView>

    <div class="card text-center m-3">
        <h1>Java course</h1>
    </div>


</AuthorizeView>