@page "/python"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Python</PageTitle>



<div class="card text-center m-3">
    <h1>Python course</h1>
</div>
