@page "/go"
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Go</PageTitle>

<AuthorizeView>
    <div class="card text-center m-3">
        <h1>Go course</h1>
    </div>
</AuthorizeView>

